@import "@scss/utils.scss";

.container {
    @include txt-content;
    
    .wrap-persons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px 0 8px;
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 1.4px;

        .ico-heart {
            margin: 0px 8px;
            width: 16px;
            height: 16px;
            fill: var(--red);
        }
    }

    .ico-flower {
        width: 24px;
        height: 24px;
        margin-bottom: 8px;
    }

    .wrap-location {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }
}