@font-face {
    font-display: fallback;
    font-family: 'NanumGothic';
    src:
        url("../assets/fonts/NanumGothic.woff2") format("woff2"),
        url("../assets/fonts/NanumGothic.woff") format("woff"),
        url("../assets/fonts/NanumGothic.woff") format("truetype"),
}